@media only screen and (max-width: 800px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }
html{
    width: 100%;
}

    /*  */
    #greet{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    .nav-ic{
        display: flex;
        position: absolute;
        top: 13px;
        right: 35px;
        cursor: pointer;
        font-size: 28px;
        
       
    }
    .nav-ic .fa-solid{
        padding: 0px 10px;
        color: black;
        display: block;
    }
    .menu{
        width: 55%;
        height: 100vh;
        background-color: rgb(205 188 188);
        position: absolute;
        display: none;
        position: absolute;
        top: 0;
        /* left: 25%; */
       
        /* display: none; */
        right: 0;
        padding-top: 75px;
        
    }
    .menu li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* .logo{
        position: absolute;
        top: 20px;
        left: 25%;
    } */
    #close{
        display: block;
        font-size: 35px;
        position: relative;
        top: -319px;
        left: 70%;
        cursor: pointer;
    }
    #navbar.show{
        display: block;
        z-index: 1;
    }
    /*  */
    .container-2{
        width: 100%;
        position: relative;
        top: 43%;
        right: 0;
    
    }
    .carousel-item{
        height: 55vh;
        background-position: center;
        background-size: cover;
    
     }
    .body-1{
        width: 110%;
        height: 54vh;
       
        background-size: cover;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       
    
    }
   
      .slideshow-container {
        /* position: relative; */
        width: 100%;
        height: 40vh;
        
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      .mySlides img{
        width: 100%;
        height: 40vh;
        
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active {
        background-color: #666363;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 10s;
      }
      
      @keyframes fade {
        from {opacity: .9} 
        to {opacity: 9}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }

      /* **************************************** */
      .body-2{
        width: 100%;
        height:100%;
        background-color: rgb(252, 247, 254);
    }
    .box-1{
        display: block;
        width: 90%;
        background-color: #f1f1f1;
        left: 36px;
        height: 63vh;
    }
    .img-cont{
        width: 100%;
    /* border: 1px solid rgb(16, 15, 15); */
    height: 41vh;
    position: relative;
    left: 0%;
    top: 0%;
   
    }
    .text-cont{
       display: none;

    }
    .text-cont h1{
        margin: 10px;
        font-size: 35px;
        font-family: 'Baloo Bhai 2', cursive
    }
    .text-cont p{
        font-size: 20px;
        
    }
    .price-cont{
        width: 91%;
        /* border: 1px solid rgb(16, 15, 15); */
        height: 50vh;
        position: relative;
        right: 0%;
        top: -21%;
    }
    .price-cont button{
        margin: 8px;
        padding:5px 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
    }
    .price-cont button:hover{
        background-color: orangered;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
       
    }
    img:hover{
        box-shadow: 0px 0px 28px rgb(0 0 0 / 50%);
    }

    .m1{
        text-align: center;
        font-size: 40px;
        font-weight: 1000;
        background-color: #f33606;
        padding: 4px 100px;
        position: relative;
        left: 13%;
        top: 20px;
        border-radius: 30px;
    }

/* **************************************************************************************************************** */
.templet{
    width: 100%;
    height: 34vh;
    top: 10%;
    left: 15px;
   
}
.temp-1{
    width: 100%;
    height: 30vh;
    margin: 10px;

}
.temp-2{
    width: 100%;
    height: 30vh;
    margin: 10px;
}
.temp-3{
   display: none;
}

/* **************************************************************************************************************** */
/* ********************************* */
.contect-1{
    color: wheat;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -7px;
    margin-bottom: 100px;
    
    
}
.text-1{
    margin: 8px 20px;
    padding:10px 10px;
    background-color: rgb(0 0 0 / 9%);
    color:black;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    
}
.sumbit-btn{
    right: 115px;

}
.sumbit-btn:hover{
    background-color: blue;
}
.re{
    text-align: center;
    padding-top: 15px;
    left: 0;
}
/* ************************* */

/* ************************************************************************** */
#contect-portion{
    padding-bottom: 20px;
    background-color: #c7c7c7;
    width: 110%;
  
    
}

.cont-0{
    display: block;
    justify-content: space-between;
    padding: 30px 22px;
    margin: -1px 0px;
}
.cont-1 h2{
    font-size: 35px;
    color: #f33606;
    font-weight: 600;
}
.cont-1 p{
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    font-family:Arial, Helvetica, sans-serif
}
.cont-1 li{
    font-size: 25px;
    list-style: none;
    font-weight: 400;
}
.cont-1 li a{
   text-decoration: none;
   line-height: 20px;
   color: black;
   font-family:Arial, Helvetica, sans-serif;
}
.cont-3{
    
}
.links{
    text-align: center;
}
#contect-portion h3{
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-align: center;

}
.icon-2{
    font-size: 45px;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}
.icon-2:hover{
    color: rgb(11, 11, 11);
}
/* **************************************************************************************************************** */
/* footer ******************************************************************************************************/

.foot{
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    width: 110%;
    height: 50px;
    padding-top:  10px;
}

/* **********
****************************************************************************************************** */  
.carousel-control-next{
    height: 42vh;
    margin-top: 56px;
}
  }
 